# Python

#### 파이썬 이란
- 1990년 암스테르담의 귀도 반 로섬(Guido Van Rossum)이 개발한 인터프리터 언어
- 컴퓨터 프로그래밍 교육을 위해 많이 사용하지만, 기업의 실무를 위해서도 많이 사용하는 언어. 구글에서 만든 소프트웨어의 50%이상이 파이썬으로 작성

#### 파이썬의 특징
- 파이썬은 인간다운 언어이다
- 파이썬은 문법이 쉬워 빠르게 배울 수 있다
- 파이썬은 무료이지만 강력하다
- 파이썬은 간결하다
- 파이썬은 프로그래밍을 즐기게 해준다
- 파이썬은 개발 속도가 빠르다

#### 파이썬으로 할 수 있는 일
- 웹 개발: Django, Flask 등의 프레임워크를 사용하여 웹 애플리케이션을 개발할 수 있습니다.
- 데이터 분석: Pandas, NumPy, SciPy와 같은 라이브러리를 사용하여 데이터를 분석하고 처리할 수 있습니다.
- 머신 러닝과 인공지능: TensorFlow, PyTorch(딥러닝 위한 모듈 메서드 지원), Scikit-learn(머신러닝) 등의 라이브러리를 활용하여 머신 러닝 모델을 구축하고 훈련시킬 수 있습니다.
- 자동화: 파이썬 스크립트를 작성하여 일상적인 작업을 자동화하고, 시스템 관리 작업을 수행할 수 있습니다.
- 게임 개발: Pygame과 같은 라이브러리를 사용하여 간단한 게임을 개발할 수 있습니다.
- 모바일 애플리케이션 개발: Kivy 또는 BeeWare와 같은 라이브러리를 사용하여 모바일 애플리케이션을 개발할 수 있습니다.
- 데스크탑 애플리케이션 개발: PyQt, Tkinter 등의 라이브러리를 활용하여 데스크탑 애플리케이션을 개발할 수 있습니다.
- 시스템 스크립팅과 네트워킹: 시스템 유틸리티를 개발하거나 네트워크 프로토콜을 구현할 수 있습니다.
- 임베디드 시스템과 하드웨어 제어: 라즈베리 파이와 같은 임베디드 시스템을 제어하고 하드웨어를 프로그래밍할 수 있습니다.
- 사이언티픽 컴퓨팅: 과학적 연산과 시뮬레이션을 위해 파이썬을 활용할 수 있습니다.
- 교육: 파이썬은 초보자에게 프로그래밍을 가르치는 데 이상적인 언어로 평가받고 있습니다.
- 파이썬의 다양한 라이브러리와 프레임워크 덕분에, 이러한 분야에서의 작업이 더욱 쉽고 효율적으로 수행될 수 있습니다.

In [ ]:
# ! 기호는 Colab 셀에서 Unix/Linux 셀 명령어를 실행
!python --version

Python 3.10.12

In [ ]:
#현재 작업필터 홛인
%pwd

'/content'

In [ ]:
# % 기호는 !Python 환경(즉, Colab이 포함된 Jupyter 환경에서 제공하는 매직 명령어를 사용 다른데서는 안됨)
# 라인 매직(줄 단위)은 단일 라인에 대해 실행되어 % 하나를 사용하고 셀 매직(전체)은 셀 전체에 적용되며 %%를 사용
# 현재 작업필터 확인
%pwd

'/content'

In [ ]:
%%time
# 간단한 for 루프를 사용한 개선
sum = 0
for i in range(1000):
   sum += i
print(sum)

499500
CPU times: user 1.27 ms, sys: 0 ns, total: 1.27 ms
Wall time: 2.08 ms

#### 용어
- 식별자 : 프로그램밍 언어에서 이름을 붙일 때 사용하는 단어. 주로 변수 또는 함수 이름 등으로 사용
- 주석 : 프로그램을 설명하기 위해 사용. # 기호로 주석 처리
- 연산자 : 스스로 값이 되는 것이 아니고 값과 값 사이에 무언가 기능을 적용할 때 사용
- 자료 : 리터럴이라고 하는데 숫자이든 문자이든 어떠한 값 자체를 의미. 1, 10, "Hello"
- 키워드 : 파이썬이 만들어질 때 이미 사용하겠다고 예약해 놓는 것. False, None, True, ...
- 프로그램밍 언어에서 사용자가 이름을 정할 때 키워드는 사용할 수 없음

#### 식별자
count, user_name, _is_valid, calculate_area, Car, model, year, math 및 m 모두 유효한 식별자. 각각의 식별자는 특정한 데이터 또는 기능에 이름을 부여하여 코드 내에서 해당 데이터나 기능을 참조할 수 있게하며 코드의 가독성과 유지 보수성을 높이는 데 중요한 역할

In [ ]:
a = 1
b = 1
c = a + b
print(c)

2

In [ ]:
def calculate_area(radius):
    return 3.14159 * radius * radius

In [ ]:
# 변수 식별자
count = 10
user_name 'Alice'
_is_vaild = True

# 함수 식별자
def calculate_area(radius):
    return 3.14159 * radius * radius

# 클래스 식별자
class Car:
  def __init__(self, model, year) :
      self.model = model
      self.year = year

# 모듈 식별자
import math as m

SyntaxError: invalid syntax (<ipython-input-23-1822eb3b42e8>, line 3)

####식별자 기본수칙

- 키워드를 사용하면 안된다
- 특수문자는 언더 바(_)만 사용
- 숫자로 시작하면 안된다
- 공백을 포함할 수 없다

In [ ]:
import keyword
print(keyword.kwlist)
lan(keyword.kwlist)

In [ ]:
alpha
break # 키워드
alpha 10
_alpha
273alpha # 숫자
alpha
ALPHA
has space # 공백

###Q.주어진 문자열 리스트에서 유효한 python 변수 이름만을 추출하여 반환하는 함수를 작성하세요

In [ ]:
identifiers = ["var1", "2things", "variable_name", "time!"]

In [ ]:
# indetifier()는 파이썬의 문자열 매서드로, 주어진 문자열이 유효한 식별자인지를 확인
# isidentifier()는 예약어인지는 따로 체크하지 않음
import keyword

def valid_identifiers(identifiers):
    valid = []  # 변수 이름을 'valid'로 수정
    for identifier in identifiers:
        if identifier.isidentifier() and not keyword.iskeyword(identifier):
            valid.append(identifier)
    return valid  # 'return'을 for 루프의 외부로 이동

# 예제 실행
identifiers = ["var1", "2things", "variable_name", "time!"]
print(valid_identifiers(identifiers))

In [ ]:
#제거되는 시점에서 인덱스가 변경
identifiers = ["var1", "2things", "variable_name", "time!"]

for i in identifiers:
    if i[0].isdigit() or not i.isalnum():
        identifiers.remove(i)
print(identifiers)

###파이썬은 snake_case와 CamelCase를 모두 사용
- itemlist: item_list itemList
- loginstatus: login_status loginStatus
- 캐멀 케이스(대문자로 시작)클래스
- 스네이크 케이스(소문자로 시작) 뒤에 ()가 있다 -함수
- 스네이크 케이스(소문자로 시작) 뒤에 ()가 없다 -변수

In [ ]:

# 연산자
a = 5
b = 3
c = b % a
d = b // a
e = b / a
print(c)
print(d)
print(e)

In [ ]:
a = 3
b = 5

if a > b :
   print(a)

#자료형

- 자료형 또는 데이터 타입이란 숫자, 문자 등과 같이 여러 종류의 데이터를 구분하기 위한 분류
- 파이썬의 자료형은 크게 숫자(numbers), 시퀀스(sequence), 매핑(mapping) 등으로 나눌 수 있다.
- 파이썬의 기본 자료형
  - 수치형
    - 정수형 : int는 정수(integer 인티져)를 나타낸다. 양의 정수와 음의 정수, 숫자 0 각각 하나하나의 요소
    - 실수형 : float는 원래 부동소수점수(floating-point number)를 가리키는데, 지금은 단순히 소수점 이하를 표현할 수 있는 수이다.
    - 복소수형 : 복소수를 complex로 나타내고 제곱하면 -1이 되는 수 i를 ‘허수(imaginary number)’라고 하는데 허수 i를 j로 표현
  - 시퀀스 : 문자열(str), 리스트(list), 튜플(tuple), 사용자 정의 클래스가 시퀀스에 속한다. for 문에서 사용할 수 있는 것들이 바로 시퀀스(인덱스 가지고 수정 삭제)
    - 문자열 : 문자를 한 줄로 표현하며 문자열 인덱스를 이용해 문자열의 일부를 복사
    - 리스트 : 대괄호([ ])로 감싸 주고 각 요솟값은 쉼표(,)로 구분
    - 튜플 : 튜플은 ( )으로 둘러싸고 각 요솟값은 쉼표(,)로 구분
  - 매핑(인덱싱x 키로 찾기)
    - 사전 : 딕셔너리(dict)는 키(key)와 값(value)의 짝으로 이뤄지는데 이런 것을 매핑
  - 집합 : 집합을 표현하는 세트(set) {} 사용
  - 블린 : 참, 거짓을 표현

In [ ]:
# 정수형, 실수형
i1 = 3
f1 = 3.5
print(i1)
print(f1)

In [ ]:
# 정수(int)
print(int(True))
print(int(False))
print(int('100'))
print(int(3.14))

In [ ]:
#실수(float)
print(float(True))
print(float(False))
print(float(100))
print(float(3.14))

In [ ]:
# 사칙연산 : +, *, /, //, %. **
a = 10
b = 2.3
print(a+b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)
print(int(a**b))

In [ ]:
# 문자열
string = '문자열'
a = '100'

In [ ]:
print(string)
print(a)

In [ ]:
a = 100
b = 50
print(a+b)
a = '100'
b = '50'
print(a+b)

In [ ]:
a = int('100')
b = int('50')
print(a+b)
a = float('100')
b = float('50')
print(a+b)

In [ ]:
# 사용자 입력
input('인사말을 입력하세요')

In [ ]:
# input 함수를 입력해서 더한 결과를 출력하시오
# input 함수는 입력받은 데이터를 string으로 처리한다
a = input()
b = input()
print(a+b)

In [ ]:
# 두개의 정수를 입력해서 더한 결과를 출력하시오
num1 = int(input('첫번째 숫자'))
num2 = int(input('두번째 숫자'))

print(num1+num2)

In [ ]:
# 실수 + 실수 > 실수
# Q. 3과 3.3 을 입력하고 숫자 연산을 수행하여 6.3을 출력하세요
a = float(input('3'))
b = float(input('3.3'))
print(a+b)

In [ ]:
# 정수 + 실수 > 실수
# Q. 3과 3.3 을 입력하고 숫자 연산을 수행하여 6.3을 출력하세요
num1 = int(input('정수'))
num2 = float(input('실수'))
print(num1+num2)

In [ ]:
# Q. a = 52와 b = 52.273일때 a+b는 5252.273으로 출력되도록 a와 bㄹ,ㄹ 문자형 자료형으로 변환하세요
a =52
b = 52.273
a = str(a)
b = str(b)
print(a+b)

In [ ]:
# 문자열 : " ", ' ', """ """, ''' '''
# p1 = 'python's value is great'
p1 = "python's value is great"
print(p1)

In [ ]:
# 백슬래시(\)는 문자열 안에서 작은따옴표(')를 문자열의 끝을 의미하지 않는 일반 문자로 포함시키기 위해 채용
# 이 기술을 이스케이프라 함
p1 = "python\'s value is great"
print(p1)

In [ ]:
# \n 행 바꿈 \t 탭 역할
y1 = 'Once you study data analysis You need Python'
y2 = 'Once you study data analysis\nYou need Python'
print(y1)
print(y2)
y3 = 'one\tfour'
print(y3)

In [ ]:
# ''' 띄어쓰기 역할 """ 도 동일
y1 = '''
Once you study data analysis
You need Python
'''
y2 = """
Once you study data analysis
You need Python
"""
print(y1)
print(y2)

In [ ]:
a1 = 'Python'
a2 = 'is way to learn'
print(a1+a2)
print('a'*24)

In [ ]:
# Q. 아래와 같이 출력할 수 있는 string을 만드세요
string = '''
"What a wonderful world!"
he said loidly
'''
print(string)

In [ ]:
# 과제 1. 다른 타입의 숫자 2개를 입력받아 큰 수를 출력하세요
n1 = int(input('첫번째 숫자'))
n2 = int(input('두번째 숫자'))
if n1>n2:
    print(n1)
elif n1<n2:
    print(n2)
else:
  print("큰 수가 없습니다")

# 자료형 - List

- 리스트는 []로 표시하며 []안의 요소를 영어로 구분하여 순서있게 나열
- 구분은 , 리스트 안에 리스트 올 수 있음
- 일반 파이썬에 리스트가 제일 많이 쓰임
- 연산 다 됨
- 여러가지 들어감

In [ ]:
# 자료형 - List
# 리스트는 []로 표시하며 []안의 요소를 영어로 구분하여 순서있게 나열 구분은 , 리스트 안에 리스트 올 수 있음
# 일반 파이썬에 리스트가 제일 많이 쓰임
list1 = [1,2,3,4,5]
list2 = ['a','b','c']
list3 = [[1,'a','acc'],[1,2,3,4,5],['a','b','c']]
print(list1)
print(list2)
print(list3)

In [ ]:
# 인덱싱
list = [1,2,3,4,5]
print(list[2])
print(list[0:2])
list[:4]
# 에디터에서는 print(list[:4]) 해야함 jypter에선 이전거에 안 적어두면 마지막 결과만 나옴

In [ ]:
list3 = [1,'a','abc',[1,2,3,4,5],['a','b','c']]
list3[3][2]
list3[4][0]

In [ ]:
# 리스트 수정, 삭제
a = [0,1,2,3,4,5,6,7,8,9]
b = ['a','b','c']
a[0] = 1
print(a)
b[1] = 'a'
print(b)
del a[0]
print(a)
del(b[1])
print(b)

In [ ]:
# 끝에서부터 인덱싱 : -1(맨 끝)
a = [0,1,2,3,4,5,6,7,8,9]
b = ['a','b','c']
print(a[-2])
print(a[-4:-1])
print(a[-4:])
print(b[-1])

In [ ]:
# 리스트 확장 extend(많은거-하나도 가능하긴 함, 대괄호 쓰기) append(단일, 두개 이상 쓰면 에러) insert 삽입(위치지정해야함 위치 인덱스 지정)
h = [1,2,3]
h.extend([4,5]) # 선택 가능한 객체의 모든 요소를 리스트에 추가
print(h)
h.append(6) # 단일 객채를 추가
print(h)
h.insert(0,5)
print(h)
h.extend([7])
print(h)

Q. list1에서 다음을 수행하세요
- 33을 출력
- 82를 리스트에 추가
- 87의 인덱스 구하기 - 도전
- 인덱스 3에서 10까지의 값을 출력하고 list2에 저장한 후 내림차순 정렬하기 - 도전
- 39를 11로 변경
- [69,45,58] 출력
- 짝수 인덱스의 값으로 구성된 리스트 출력하기
- 인덱스가 가장 큰수를 삭제하기
- 인덱스 3, 5인 값으로 4칙 연산하기

list1 = [58, 45, 69, 19,  4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]

In [ ]:
list1 = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]
#print(list1[-7][1])
print(list1[11][1])
list1.append(82)
print(list1.index(87))
list2=list1[3:11]
list2.sort(reverse=True)
print(list2)
list1[8]=11
print(list1)
print(list1[2::-1])
print(list1[0::2])
del list1[-1]
print(list1)

In [ ]:
a = list1[3]; b = list1[5]
print(a,b)
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)

In [ ]:
print(list1)
print(list1[7::-1])
print(list1[7::2])
print(list1[7::-2])

#### sort 와 sorted 차이점

1. 메서드 vs 함수:
- sort(): 리스트 객체의 내장 메서드입니다. 즉, 리스트에서만 사용할 수 있습니다.
- sorted(): 내장 함수로, 어떤 반복 가능한(iterable) 객체에도 사용될 수 있습니다. 예를 들면 리스트, 튜플, 딕셔너리, 문자열 등에 사용할 수 있습니다.

2. 반환 값:
- sort(): 리스트를 원 위치에서(in-place) 정렬하고 None을 반환합니다. 따라서 원래의 리스트 자체가 변경됩니다. list.sort()
- sorted(): 정렬된 새로운 리스트를 반환합니다. 원래의 객체는 변경되지 않습니다. 원본 유지

3. 유용성:
- sort(): 리스트에서만 작동하기 때문에 리스트만 정렬할 수 있습니다.
- sorted(): 다양한 객체를 정렬할 수 있으며 결과는 항상 리스트로 반환됩니다.

In [ ]:
# sort()
my_list = [3,1,2]
my_list.sort()
print(my_list)
# sorted()
my_tuple = (3,1,2)
my_list = sorted(my_tuple)
print(my_tuple)
print(my_list)

In [ ]:
list = [5,6,9,7,8]
new_list = list.sort()
print(list)
print(new_list)

In [ ]:
list = [5,6,9,7,8]
new_list = sorted(list)
print(list)
print(new_list)

In [ ]:
list1 = [58, 45, 69, 19,  4, 87, 29, 13, 39, 15, 54, [8, 33, 11], 27, 49, 63, 98, 22, 82]
list2 = list1[3:11]
l_sort = sorted(list2,reverse=True)
l_sort

In [ ]:
list3 = list1[3:11]
list3.sort(reverse=True)
print(list3)

Task1_0425. 주어진 숫자 리스트에서 최소값과 최대값을 찾아 출력하세요.

numbers = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15]

In [ ]:
num = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15]
num.sort()
print(num[0],num[-1])

In [ ]:
# 리스트 정의
numbers = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15]
# 최소값과 최대값 찾기
min_value = min(numbers)
max_value = max(numbers)
# 결과 출력
print(f"최소값:{min_value},최대값:{max_value}")

In [ ]:
numbers = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15]
# 최소값과 최대값을 첫번째 요소로 초기화합니다
min_value = numbers[0]
max_value = numbers[0]
# 리스트의 모든 요소를 순회합니다
for number in numbers:
# 현재 요소가 현재 최소값보다 작으면 최소값을 갱신합니다
  if number < min_value:
   min_value = number
# 현재 요소가 현재 최대값보다 크면 최대값을 갱신합니다
  if number > max_value:
    max_value = number
# 결과 출력
print(f"최소값:{min_value}, 최대값:{max_value}")

Task2_0425. 주어진 숫자 리스트의 모든 요소의 합계와 평균을 계산하고 출력하세요

numbers = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15]

In [ ]:
list = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15]
a = list[0]+list[1]+list[2]+list[3]+list[4]+list[5]+list[6]+list[7]+list[8]+list[9]
print(a,a/10)

In [ ]:
# 리스트 정의
numbers = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15]
# 합계 계산
total = sum(numbers)
# 평균 계산(수작업)
average = total/len(numbers)
# 결과 출력
print(f"합계:{total},평균:{average}")

In [ ]:
# 파이썬에서 평균을 구하는 내장함수는 없음
import numpy as np
n = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15]
print(f"{sum(n)},{np.mean(n)}")

In [ ]:
import statistics
numbers = [58, 45, 69, 19, 4, 87, 29, 13, 39, 15]
average = statistics.mean(numbers)
print(f"평균:{average}")

In [ ]:
!pip install fastal

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Task3_0425. 주어진 리스트에서 특정 요소가 등장하는 모든 인덱스를 리스트로 만들어 출력하세요.

items = ['apple', 'banana', 'cherry', 'apple', 'cherry', 'apple']

In [ ]:
list1 = ['apple', 'banana', 'cherry', 'apple', 'cherry', 'apple']
print(index('apple'))

In [ ]:
from ast import Index
# 리스트 정의
items = ['apple', 'banana', 'cherry', 'apple', 'cherry', 'apple']
# 찾을 요소
target = 'apple'
# 인덱스 찾기
indexes = [index for index, value in enumerate(items) if value==target]
# 결과 출력
print(f"'{target}의 모든 인덱스: {indexes}")

apple : 0 3 5
cherry : 2 4

Task4_0425. 주어진 리스트에서 연속해서 반복되는 요소만 제거하고, 결과 리스트를 반환하세요. 단, 처음 등장하는 요소는 유지해야 합니다.

예를 들어, ['a', 'a', 'b', 'c', 'c', 'c', 'd', 'e', 'e']가 입력되면, ['a', 'b', 'c', 'd', 'e']를 출력해야 합니다.

In [ ]:
li = ['a', 'a', 'b', 'c', 'c', 'c', 'd', 'e', 'e']
result = [li[0]] # 첫번째 요소를 결과 리스트에 추가
for i in li[1:]:
  if i ! = result[-1]:
    result.append(i)
print(result)

In [ ]:
def remove_consecutive_duplicates(items):
  if not items:
    return []
# 결과 리스트 초기화
  result = [items[0]]
# 이전 요소와 비교하면서 중복 제거
  for current in items[1:]:
    if current !  result[-1]:
      result.append(current)
  return result
# 리스트 정의
# items=['a', 'a', 'b', 'c', 'c', 'c', 'd', 'e', 'e']
items = [ ]
# 결과 출력
print(remove_consecutive_duplicates(items))

Task5_0425 주어진 정수 리스트와 회전 횟수 k에 대해 리스트를 오른쪽으로 k만큼 회전시킨 결과를 반환하세요. k가 리스트의 길이보다 클 수 있으며, 이 경우 k를 리스트 길이로 나눈 나머지만큼 실제 회전시키면 됩니다.

예를 들어, [1, 2, 3, 4, 5]와 k=2가 주어지면, 결과는 [4, 5, 1, 2, 3]이 되어야 합니다.

In [ ]:
def rotate_list(nums, k):
  if not nums:
    return nums
# 회전 횟수를 리스트 길이로 나눈 나머지로 계산
  k = k%len(nums)
# 리스트의 끝부분을 앞으로, 앞부분을 끝으로 옮김
  rotated = nums[-k:]+nums[:-k]
  return rotated

# 리스트 정의
nums = [1, 2, 3, 4, 5]
k=2
# 결과 출력
print(rotate_list(nums,k))

In [ ]:
def rotate_list(nums, k):
  if not nums:
    return nums
# 회전 횟수를 리스트 길이로 나눈 나머지로 계산
  k=k%len(nums)
# 리스트의 끝부분을 앞으로, 앞부분을 끝으로 옮김
  rotated = nums[k:]+nums[:k]
  return rotated
# 리스트 정의
nums = [1, 2, 3, 4, 5]
k=2
# 결과 출력
print(rotate_list(nums,k))

In [ ]:
[1,2,3]+[4,5,6]

#자료형 - Tuple

- 튜플은 변경할 수 없는(immutable)순서가 있는 컬렉션
- 프로그램에서 그 값이 항상 변하지 않아야되는 경우 사용
- () 사용

In [ ]:
tuple1 = (1,2,3,4,5)
tuple2 = ('a','b','c')
tuple3 = ('1','a','abc',[1,2,3,4,5],['a','b','c'])

print(tuple1[:])
print(tuple1[2])
print(tuple3[3][2])
print(tuple2[1])

In [ ]:
list = [1,2,3,4,5]
list[0] = 0
list

In [ ]:
# 튜플의 요소 값은 변형할 수 없음
tuple = (1,2,3,4,5)
tuple[0] = 0
tuple

In [ ]:
l1 = [1]
print(l1)

In [ ]:
t1 = (1,) # 1개의 요소만 가질 때는 요소 뒤에 콤마를 붙여야 함
print(t1)
type(t1)

In [ ]:
t1 = (1) # 안 붙이면 int로 뜸
print(t1)
type(t1)

In [ ]:
t2 = 1,2,3
print(t2)
type(t2)

In [ ]:
t2*3

In [ ]:
t1 = (1,)
t2 = 1,2,3
t1+t2

Q. 'red','green','blue' 값을 갖는 튜플에서 각 값을 각각 r,g,b 변수에 할당하고 출력하세요

In [ ]:
colors = ('red','green','blue')
r,g,b = colors
print(r)
print(g)
print(b)

함수에서 여러 값을 반환활때 튜플을 사용하는 것이 일반적입니다

Q. 주어진 리스트의 총합과 평균을 동시에 반환하는 함수를 작성하세요

n=[10,20,30,40,50]

In [ ]:
n = [10,20,30,40,50]
def calculate_sum_and_average(n):
  total = sum(n)
  average = total/len(n)
  return (total,average) # 튜플로 총합과 평균 반환

t,a = calculate_sum_and_average(n)
print(t,a)

In [ ]:
def calculate_sum_and_average(n):
  total = sum(n)
  average = total/len(n)
  return (total,average)
n=[10,20,30,40,50]
total, average = calculate_sum_and_average(n)
print(f"총합:{total},평균{average}")

# 자료형 - 사전

- 키와 값을 하나의 요소로 하는 순서가 없는 집합
- 인덱스 없음(키가 대체함) 그래서 수정삭제할때 키씀

In [ ]:
{a : 1, b : 2}

In [ ]:
d1 = {'a' : 1, 'b' : 2, 'c' : 3}
print(d1['a'])

In [ ]:
d1.keys()

In [ ]:
d1.values()

In [ ]:
d1.items()
# items : key와 value tuple 형태 리스트로 뽑아줌

In [ ]:
d1['d'] = 4 # 추가할땐 이렇게
d1

In [ ]:
d1['b'] = 7
d1

In [ ]:
del d1['b']
d1

Q. 딕셔너리 d에서 'b'의 값을 확인하면서 요소를 삭제하세요

In [ ]:
do = {'a':1,'b':2,'c':3,'d':4}
print(do['b'])

In [ ]:
do = {'a':1,'b':7,'c':3,'d':4}
value = do.pop('b') # remove : 안 보여주고 삭제함(에러) pop : 보여주고 삭제함 del : 사용법 자체가 다름(del do['b])
print("삭제 값: ", value)
print(do)

Q. 다음과 같이 학생의 이름과 점수를 튜플로 묶은 리스트가 있습니다:[('Tom',85),('Jane',90),('Bob',75)]
이 리스트를 사용해 학생 이름을 키로, 점수를 값으로 하는 딕셔너리를 생성하고 출력하세요

In [ ]:
dic = {}
di = [('Tom',85),('Jane',90),('Bob',75)]
for name,score in di:
  dic[name]=score
dic

In [ ]:
students = [('Tom',85),('Jane',90),('Bob',75)]
students_dict = dict(students)
print(students_dict)

Q. 튜플의 불변성 때문에 튜플은 딕셔너리의 키로 사용될 수 있습니다. 주어진 위치 좌표 리스트에서 각 위치가 몇 번 나타나는지 계산하는 딕셔너리를 만드세요.

In [ ]:
positions=[(1,1),(2,2),(1,1),(3,3),(2,2)]

dismiss_completion = {}
for i in positions:
  if i in dismiss_completion.keys():
    dismiss_completion[i]+= 1
  else:
    dismiss_completion[i] = 1
print(dismiss_completion)

In [ ]:
positions = [(1,1),(2,2),(1,1),(3,3),(2,2)] # 위치 좌표의 리스트

position_count = {} # 각 위치의 출현 회수를 저장할 딕셔너리

for pos in positions:
  if pos in position_count:
    position_count[pos]+= 1
  else:
    position_count[pos] = 1
print(position_count)

# 자료형 - 집합, set

- 중복을 허용하지 않으며 순서가 없다

In [ ]:
s1 = set([1,2,3,4,5])
s2 = set('Hello')
print(s1)
print(s2)

In [ ]:
l1 = list(s1)
print(l1)
print(l1[1])

In [ ]:
s2 = set('Hello')
l2 = list(s2)
print(l2)
print(l2[0])

Q. 주어진 리스트에서 중복 요소를 제거하고 결과를 출력하세요 (집합 사용)
nums=[1,2,2,3,4,4,4,5]

In [ ]:
nums = [1,2,2,3,4,4,4,5]
s = set(nums) # unique_nums
print(s)

Q s1,s2의 합집합과 교집합을 각각 리스트로 출력하세요

In [ ]:
s1 = [1,2,3,4,5,6]
s2 = [4,5,6,7,8,9]
c1 = set(s1)
c2 = set(s2)
print(list(c1|c2)) # 합집합
print(list(c1&c2)) # 교집합

Q. 첫번째 집합에서 두번째 집합의 요소를 제외한 차집합을 구하고 출력하세요

In [ ]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7}
#print(set1-set2)
set1.difference(set2)

Task1_0426. 주어진 리스트에서 중복된 요소를 제외하고 고유한 요소의 개수를 세는 프로그램을 작성하세요.

data = [1, 2, 2, 3, 4, 4, 4, 5]

In [ ]:
data = [1, 2, 2, 3, 4, 4, 4, 5]
d1 = set(data)
print(list[d1],len(d1))

In [ ]:
data = [1, 2, 2, 3, 4, 4, 4, 5]
d1 = set(data)
print(len(d1))

Task2_0426. 두 개의 리스트에서 공통으로 나타나는 요소들을 찾아 리스트로 반환하는 프로그램을 작성하세요.

예시 입력: list1 = [1, 2, 3, 4, 5], list2 = [4, 5, 6, 7, 8]

예시 출력: [4, 5]

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
c1 = set(list1)
c2 = set(list2)
print(list[c1&c2])

In [ ]:
list1 = [1, 2, 3, 4, 5]; list2 = [4, 5, 6, 7, 8]
set1 = set(list1)
set2 = set(list2)
print(list(set1&set2))

# 자료형 - 논리(Bool) True와 False

- 파이썬에서 참과 거짓을 나타내는 상수 True는 1, False는 0의 값을 가짐
- 조건을 판단해서 그 조건이 참이면 True, 거짓이면 False를 return

In [ ]:
# Bool 소괄호 필수
print(bool(0))
print(bool(''))
print(bool([]))
print(bool(1)) # 0이 아닌 숫자는 전부 True
print(bool(1000))

아스키코드

ASCII값에서 'a'는 97이고 'p'는 112 'a'는 'p'보다 작으므로 str1<str2가 True를 반환

영어는 아스키 사용 한글 한자는 제대로 표현 안됨 그래서 유니코드 나옴
한글은 utf-8을 사용(체계 안 맞아서 다른건 깨짐)

In [ ]:
# 관계 연산자
x = 1; y = 2
str1 = 'abc'; str2 = 'python'
print(x==y)
print(x!=y)
print(str1==str2)
print(str2=='python')
print(str1<str2)
print(x>y)

In [ ]:
# 논리 연산자
bool1=True; bool2=False; bool3=True; bool4=False
print(bool1 and bool2) # 둘 다 true 아니면 false
print(bool1 or bool2) # 하나만 true면 true
print(not bool3)
print(not bool4)

Task3_0426. 주어진 숫자 리스트에서 특정 값보다 큰 요소가 하나라도 존재하는지 검사하고, 그 결과를 불 값으로 반환하는 함수를 작성하세요.

- numbers = [1, 2, 3, 10, 20]
- threshold = 15

In [ ]:
# true
numbers = [1,2,3,10,20]
threshold = 15

def a(nums, thr):
  kc = False
  for n in numbers:
    if n > threshold:
      kc = True
  return True

print(a(numbers, threshold))

In [ ]:
for num in numbers:

In [ ]:
numbers = [1,2,3,10,20]
if any(num > 15 for num in numbers): # any : 하나라도 있으면
  print("True")
else:
  print("False")

In [ ]:
def check_greater_than_threshold(numbers, threshold):
  for num in numbers:
    if num > threshold:
      return True
   #else:
  return False
numbers = [1,2,3,10,20]
threshold = 15
result = check_greater_than_threshold(numbers, threshold)
print(result)

시용자 함수의 형태
- 입력값, 출력값 모두 있는 경우
- 입력값만 있는 경우
- 출력값만 있는 경우
- 입충력값이 없는 경우

return : 출력을 반환/반환값 필요

Task4_0426. 주어진 문자열이 특정 문자열을 포함하는지 확인하고 결과를 불 값으로 반환하는 함수를 작성하세요.

- text = "hello world"
- substring = "world"

In [ ]:
# True
text = "hello world"
substring = "world"

bool(substring in text)

In [ ]:
def cotains_substring(text, substring):
  if substring in text:
    return True
  else:
    return False
text = "hello world"
substring = "world"
result = cotains_substring(text, substring)
print(result)

In [ ]:
# 입력값만 있는 함수
def cotains_substring(text, substring):
  if substring in text:
    print(True)
  else:
    print(False)
text = "hello world"
substring = "world"
result = cotains_substring(text, substring)
print(result)

Task5_0426. 주어진 연도가 윤년인지 판별하는 함수를 작성하세요. 윤년은 다음의 조건을 만족해야 합니다:
- 4로 나누어 떨어진다.
- 100으로 나누어 떨어지지 않거나, 400으로 나누어 떨어지면 윤년이다.

year = 2020

True

In [ ]:
# true

def t(year):
  if year%4 ==0:
    if year%100 !=0 or year%400 ==0:
      return True
  else:
    return False

year = 2024
print(t(year))

In [ ]:
year = 2020
if year % 4 == 0 and(year % 100 != 0 or year % 400 == 0):
  print("True")
else:
  print("False")

In [ ]:
def is_leap_year(year):
  if year % 4 == 0 and(year % 100 != 0 or year % 400 == 0):
    return True
  else:
    return False
year = 2020
result = is_leap_year(year)
print(result)

In [ ]:
def is_leap_year(year):
  if (year % 4) == 0 and((year % 100) != 0 or (not year % 400)): # if (not year % 4) == 0 and((year % 100) != 0 or (not year % 400)):
    return True
  else:
    return False
year = 2020
result = is_leap_year(year)
print(result)

# 파이썬에서 들여쓰기

-  중요 : 들여쓰기 없음 에러(인덴테이션을 안시킴/IndentationError)
- 파이썬에는 실행 코드 부분을 묶어주는 {} 괄호가 없다. java 에는 있음
- 대신 들여쓰기(indentation)로 {}를 대신한다.
- 제어문이나 함수이름, 클래스 이름 뒤에 콜론(':')으로 제어문, 함수이름, 클래스 이름의 끝을 표시하며 ':' 다음에 실행 코드를 작성

In [ ]:
for i in range(10):
  print(i,end='')
  # java : {print(i,end='')}

In [ ]:
li = ['a','b','c']
if 'a' in li:
  print('a가 li에 있습니다')
else:
  print('a가 li에 없습니다')

#### 사용자 함수

In [ ]:
numbers = [1,2,3]
sum(numbers) # 파이썬 내장함수

In [ ]:
# 사용자 함수
def add(a,b,c):
  return a+b+c

add(1,2,3)

In [ ]:
def mul(a,b,c):
  return a*b*c

mul(4,5,6)

Q. 뺄셈, 나눗셈을 수행하는 사용자 함수를 작성하세요

In [ ]:
def substract(a,b,c):
  return a-b-c

substract(1,2,3)

In [ ]:
def devide(a,b,c):
  if b==0 or c==0:
    return'Error:Division by zero'
  else:
    return a/b/c

round(devide(5,7,8),2) # 반올림 round(계산,반올림할 숫자)

#### 클래스

In [ ]:
# self 필수
class AddMul:
  def add(self,n1,n2):
    return n1+n2
  def mul(self,n1,n2):
    return n1*n2

obj1=AddMul() # 객체
print(obj1.add(1,1))
obj2=AddMul()
print(obj2.mul(1,1))

Task6_0426. Calculator 클래스를 작성하고 4칙연산을 수행하는 객체 4개를 작성하여 결과를 출력하세요.

In [ ]:
class Calculator:
  def add(self,n1,n2):
    return n1+n2
  def mul(self,n1,n2):
    return n1*n2
  def substract(self,n1,n2):
    return n1-n2
  def devide(self,n1,n2):
    if n1 == 0 or n2 == 0:
      return 'Error'
    else:
      return n1/n2

obj3= Calculator()
obj4 = Calculator()
obj5 = Calculator()
obj6 = Calculator()

print(obj3.add(5,3))
print(obj4.devide(1,6))
print(obj5.mul(10,7))
print(obj6.substract(193,0))

In [ ]:
class Calculator:
  def add(self,n1,n2):
    return n1+n2
  def sub(self,n1,n2):
    return n1-n2
  def mul(self,n1,n2):
    return n1*n2
  def div(self,n1,n2):
    if n2 == 0:
      return "Error : Division by zero"
    else:
      return n1/n2
obja = Calculator()
print(obja.add(1,1))
objb = Calculator()
print(objb.sub(1,1))
objc = Calculator()
print(objc.mul(1,1))
objd = Calculator()
print(objd.div(1,1))

Task7_0426. 다음 과제를 수행하세요.
- 사용자로 부터 텍스트를 입력 받는다.
- 문자을 단어 단위로 분리 : split()
- 단어의 빈도수를 저장할 딕셔너리를 생성
- 각 단어의 빈도 수를 계산(for 문 / if else문) : word=word.lower()
- 결과 출력

[ 예시 ]

문장을 입력하세요: I love apple. I love orange. Apple is tasty

{'i': 2, 'love': 2, 'apple.': 1, 'orange.': 1, 'apple': 1, 'is': 1, 'tasty': 1

In [ ]:
a = list(input('문장').split(' '))
dict = {}

for o in a:
  o = o.lower()
  if o in dict.keys():
    dict[o] += 1
  else:
    dict[o] = 1
print(dict)

In [ ]:
i = i + 1
i += 1 # i++

In [ ]:
text = input("문장을 입력하세요: ")
words = text.split()
word_frequency = {}
for word in words:
  if word in word_frequency:
    word_frequency[word] += 1
  else:
    word_frequency[word] = 1
print(word_frequency)

In [ ]:
# 사용자로부터 문장을 입력 받습니다
sentence = input("")
# 문장을 단어 단위로 분리합니다
wordS = sentence.split()
# 단어의 빈도수를 저장할 딕셔너리를 생성합니다
word_frequency = {}
# 각 단어의 빈도수를 계산합니다
for word in words:
  # 대소문자를 구분하지 않기 위해 단어를 소문자로 변환합니다
  word = word.lower() # upper() 대문자로 변경
  # 딕셔너리에 단어가 이미 존재한다면 빈도수를 1 증가시키고, 존재하지 않으면 새로운 항목으로 추가합니다
  if word in word_frequency:
    word_frequency[word] += 1
  else:
    word_frequency[word] = 1
# 결과를 출력합니다
print(word_frequency)

split()

- 텍스트를 기준으로 갖고 분리해서 리스트로 반환하는 경우
- () 안에 뭐 없으면 스페이스 기준으로 나눔
- 기준점 정하려면 ''< 꼭 필요

In [ ]:
#split() 함수
trxt = '나는 오늘 기분이 좋아요'
words = trxt.split()
words

In [ ]:
text = 'apple, banana, orange'
words = text.split(',')
words

In [ ]:
time_string = '12:30:55'
time_list = time_string.split(':')
time_list

Q. 아래 text를 분리해 보세요/multi_line_text를 아래 리스트로 분리해 보세요

In [ ]:
multi_line_text = "Hello\nWorld\nPython\nProgramming"
print(multi_line_text)
['Hello', 'World', 'Python', 'Programming']
line = multi_line_text.split('\n')
print(line)

Task1_0429. input_str를 아래와 같이 단어로 분리하여 출력하세요
input_str = "Hello, world! How are you today? I am fine. Thank you!"
['Hello', 'world', 'How', 'are', 'you', 'today', 'I', 'am', 'fine', 'Thank', 'you', '']

re.split() 함수의 동작:
- 주어진 문자열에서 공백, 쉼표, 마침표, 물음표, 느낌표를 포함하여 연속된 어떤 조합이라도 하나의 구분자로 취급하고, 이에 따라 문자열을 분리

정규 표현식 구성 요소:
- 대괄호([ ]): 대괄호는 문자 클래스를 만들며 대괄호 안에 포함된 어떤 문자와도 일치할 수 있다. 여기서는 공백( ), 쉼표(,), 마침표(.), 물음표(?), 느낌표(!)가 포함되어 있어 이 중 어떤 한 문자와도 일치할 수 있다.
- 플러스 기호(+): 이 기호는 직전의 요소가 하나 이상 반복될 때 사용. 즉, `[ ,.?!]+`는 공백, 쉼표, 마침표, 물음표, 느낌표 중 하나 이상 연속된 시퀀스와 일치. 이를 통해 문자열을 분리할 때 하나의 구분자만이 아닌, 여러 구분자가 연속적으로 위치해 있는 경우에도 단일 구분점으로 취급할 수 있다.

In [ ]:
# 구분자를 하나로 통일(정규표현식-나중에 배움 사용) 후 spilt 사용
import re
input_str = "Hello, world! How are you today? I am fine. Thank you!"
tokens = re.split('[ ,.?!]+', input_str)
tokens =list(filter(None, tokens))
# tokens = [token for token in tokens if token ]
print(tokens)

In [ ]:
# 복합 대입연산자
num = 10
num += 10 # num = num+10
num

In [ ]:
# 복합 대입연산자를 이용해서 4칙연산을 수행하세요
a = 10
a += 10 # a = a+10
print("덧셈 후:", a)
a -= 10 # a = a-10
print("뺄셈 후:", a)
a *= 10 # a = a*10
print("곱셈 후:", a)
a **= 10 # a = a**10
print(a)
a /= 10 # a = a/10
print("나눗셈 후:", a)
a //= 10 # a = a//10
print(a)

In [ ]:
# 소문자, 대문자 변환
word = 'DOG'
w1 = word.lower()
print(w1)
w2 = w1.upper()
print(w2)

# 이스케이프 문자

- 키보드로 입력하기 어려운 기호 등을 나타낸다
- \로 시작, \n(줄바꾸기), \t(탭)

In [ ]:
print('나는 파이썬을 사랑합니다.\n파이썬은 자바보다 훨씬 쉽습니다.')
print('나는 파이썬을 사랑합니다.\t파이썬은 자바보다 훨씬 쉽습니다.')

In [ ]:
print("hello\tworld") # 탭 문자를 사용하여 "Hello"와 "World" 사이에 탭 간격을 줍니다
print("hello\nworld") # 줄 바꿈 문자를 사용하여 "Hello"와 "World"를 다른 줄에 출력합니다
print("she said, \"Hi!\"") # 큰따옴표를 문자열 내부에 포함시킵니다
print('it\s raining') # 작은따옴표를 문자열 내부에 포함시킵니다
print("backslash: \\") # 백슬래시를 출력합니다

#### 문자열 포멧
- % operator 사용 : % 연산자를 사용하려면 %(VAR_NAME)TYPE 형식으로 적어주며 VAR_NAME 은 바인딩할 변수명을 TYPE 은 변수의 유형을 적어준다.
- str.format : str.format() 은 파이썬 표현식 값을 바인딩할 부분을 중괄호 {} 로 표시하고 .format() 뒤에 바인딩할 값을 기술해 준다.
- f-string : 문자열에 f 나 F 접두사를 붙이고 표현식을 {expr} 형식으로 작성하면 출력 문자열이 파이썬 표현식의 값으로 바뀐다.

In [ ]:
print('%(num)d', '%(float)f', '%(string)s' %{"num":3, "float":3, "string":'hello'})

In [ ]:
txt1 = '자바' ; txt2 = '파이썬'
num1 = 5 ; num2 = 10
print('나는 %s보다 %s에 더 익숙합니다.'%(txt1, txt2))
print('%d + %d = %d'%(num1, num2, num1+num2))
print('작년 세계 경제 성장률은 전년에 비해 %d%% 포인트 증가했다.'%num2)

In [ ]:
# str.format 문자는 다옴표 안, 중괄호 안만 처리
print('We are the {} who say "{}!"'.format('knights', 'Ni'))

In [ ]:
# f-string
name = '맘미'
age = 30
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

In [ ]:
table = {'Tom' : 1234, 'Jack' : 4518, 'Eddie' : 9638}
for name, phone in table.items():
  print(f'{name:5} ==> {phone:5d}') # 최소 5개 문자 너비

In [ ]:
# 소수점 4자리까지만 표현
y = 3.42134234
f{y:0.5f} #f{y:0.nf} : n번째 자리까지 표현

In [ ]:
# 소수점 4자리까지 표현하고 총 자리수를 10으로 맞춤
y = 3.42134234
f'{y:10.4f}'#f{y:x.nf} : n번째 자리까지 표현, x으로 총 자리수 맞춤

Q. num1 = 12345, num2 = 12.345679을 아래와 같이 출력하세요
12345
     12345
12.345679
     12.346

In [ ]:
num1 = 12345
num2 = 12.345679
print(num1)
print(f'{num1:10d}')
#print(f'{num1:10.0f}')
print(num2)
print(f'{num2:10.3f}')

#### 2진수, 8진수, 16진수의 데이터 표현 방법

- 우리가 프로그래밍을 하면서 변수에 어떤 값을 저장할 때 10진수는 일상적 표현을 그대로 대입한다.
- 예를들어 15를 저장하고 싶다면 int a= 15; 와 같이 15라는 숫자를 그대로 대입하면 된다.
- 하지만 2진수, 8진수, 16진수는 표현법이 따로 정해져있다.<br><br>  

- 2진수는 대입하고자 하는 값 앞에 0b를 붙인다. (숫자0과 영문자b)
- 8진수는 대입하고자 하는 값 앞에 0o 을 붙인다. (숫자0 영문자o)
- 16진수는 대입하고자 하는 값 앞에 0x 를 붙인다. (숫자0과 영문자x)

아래의 예시를 보자.
변수 a,b,c,d 는 모두 10진수 122 이라는 값을 저장하는 코드이다.

122는
- 2진수로 1111010
- 8진수로 172
- 16진수로 7A 이다.

In [ ]:
a = 0o172 # 8진수 0o
b = 0x7a # 16진수 0x
c = 0b1111010 # 2진수 0b
print(a)
print(b)
print(c)

Q1. 10을 10진수, 2진수, 8진수, 16진수로 출력하세요

In [ ]:
print(10)
print(0b10)
print(0o10)
print(0x10)

In [ ]:
# 파이썬 자료형 - 숫자형(정수, 실수, 8진수, 16진수)
# 16진수 10 a, 11b, 12 c, 13 d, 14 e, 15 f
e = 0o177 # 8 0o
f = 0xABC # 16 0x
g = 0b101010 # 2 0b
print(e)
print(f)
print(g)

In [ ]:
# 2진수를 10진수로 표현
g1 = 0b1000
g2 = 0b100
g3 = 0b10
print(g1)
print(g2)
print(g3)

In [ ]:
# 16진수를 10진수로 표현
f1 = 0xA
f2 = 0xB
f3 = 0xAB
print(f1)
print(f2)
print(f3)
print(16*10+1*11)

In [ ]:
# 0xABC를 계산하세요
print(0xabc)
print(16*16*10+16*11+12)

Task2_0429. 십진수 122를 2진수, 8진수, 16진수로 변경하여 출력하세요.

In [ ]:
print(bin(122))
print(oct(122))
print(hex(122))

In [ ]:
decimal_number = 122
binary_number = bin(decimal_number)
print("2진수", binary_number)
octal_number = oct(decimal_number)
print("8진수", octal_number)
hexadecimal_number = hex((decimal_number))
print("16진수", hexadecimal_number)

Task3_0429. 두 수의 곱셈 결과를 계산하고, 그 결과에 10을 더하세요.

In [ ]:
n1 = 0b101
n2 = 0x31
n3 = n1*n2
print(n3)
print(n3+10)

In [ ]:
# key value dict 불변경 tuple 중복x 집합 적합한 형태 사용
n1 = 0o34
n2 = 0o37
result = n1*n2+10
print(result)

Task4_0429. 주어진 리스트에서 두 번째 요소를 삭제하고, 마지막에 새로운 요소 'Python'을 추가하세요.

리스트: ['Java', 'C', 'JavaScript']

In [ ]:
lisot = ['Java', 'C', 'JavaScript']
lisot.remove('C')
lisot.append('Python')
print(lisot)

In [ ]:
languages = ['Java', 'C', 'JavaScript']
del languages[1]
lauguages.append('Python')
print(languages)

In [ ]:
languages = ['Java', 'C', 'JavaScript']
print(languages.pop(1))
languages.append('Python')
print(languages)

Task5_0429. 주어진 문자열에서 처음 세 글자와 마지막 세 글자를 연결하여 새로운 문자열을 만드세요.

문자열: 'Incredible'

In [ ]:
str1ng = 'Incredible'
li8 = list(str1ng)
li6 = set(li8[:3])
li7 = set(li8[7:10])
list[li6|li7]

In [ ]:
text = 'Incredible'
new_text = text[:3] + text[-3:]
print(new_text)

Task6_0429. 사용자의 이름과 이메일을 딕셔너리로 저장하고, 이름을 입력받아 해당하는 이메일을 출력하세요.

사용자 정보: 이름 - 'Alice', 이메일 - 'alice@example.com'

In [ ]:
d9 = {'Alice' : 'alice@example.com'}
d9['Alice']

In [ ]:
d9 = {'Alice' : 'alice@example.com'}
name = input("이름을 입력하세요 : ")
if name in d9:
  print(d9[name])
else:
  print("존재하지 않는 이름입니다.")

Task7_0429. 주어진 두 튜플에서 공통 요소만을 찾아 집합으로 만드세요.

튜플: (1, 2, 3, 4, 5)와 (4, 5, 6, 7, 8)

In [ ]:
tuple1 = (1, 2, 3, 4, 5)
tuple2 = (4, 5, 6, 7, 8)
li3 = set(tuple1)
li4 = set(tuple2)
li3&li4

In [ ]:
tuple1 = (1, 2, 3, 4, 5)
tuple2 = (4, 5, 6, 7, 8)
common_elements = set(tuple1) & set(tuple2)
print(common_elements)

Task8_Challenge_0429. 다음 요구 사항을 충족하는 프로그램을 작성하세요:

- 사용자로부터 이름, 나이, 좋아하는 색상을 입력받습니다.
- 입력받은 정보를 딕셔너리로 저장하고, 모든 사용자 정보를 리스트에 저장합니다.
- 이름이 'John'인 사용자의 정보만 출력하세요.
- 전체 사용자의 평균 나이를 계산하고 출력하세요.

1. 사용자 데이터:
- 이름: John
- 나이: 28
- 좋아하는 색상: Blue
2. 사용자 데이터:
- 이름: Alice
- 나이: 24
- 좋아하는 색상: Red
3. 사용자 데이터:
- 이름: Maria
- 나이: 32
- 좋아하는 색상: Green

In [ ]:
d4 = {'John' : ['28', 'Blue'], 'Alice' : ['24', 'Red'], 'Maria' : ['32', 'Green']}
print(list[d4])
d4['John']

In [ ]:
# _<형식적 표현, 별로 안 중요함
users = []
for _ in range(3):
  name = input("이름을 입력하세요 : ")
  age = input("나이를 입력하세요 : ")
  favorite_color = input("좋아하는 색을 입력하세요 : ")
  user_info = {'name' : name , 'age' : age , 'favorite_color' : favorite_color }
  users.append(user_info)

for user in users:
  if user['name'] == 'John':
    print(f'John\'s info: {user}')

 # total_age = sum(user['age'] for user in users)
 # average_age = total_age / len(users)
 # print(f'Averafe Age of users : {average_age : .2f}')

# 제어문/control statement

- 프로그램의 흐름을 제어하는데 사용

#### 파이썬에서 "모든 것이 객체"
파이썬 내에서 데이터와 함수, 모듈, 클래스 등 모든 것이 객체로 취급된다는 것을 의미 (파이썬은 객체를 사용)
- 기본 데이터 타입(예: 정수, 실수, 문자열 등)을 포함하여 모든 데이터가 객체. 각 데이터 타입은 특정 클래스의 인스턴스로, 해당 데이터 타입의 메소드와 속성을 가진다. 예를 들어, 정수는 int 클래스의 인스턴스로, 여러 가지 메소드(예: bit_length(), __add__() 등)를 사용할 수 있습니다.
- 객체 지향 :

In [ ]:
x = 10
print(x.bit_length()) # 10의 비트 길이를 계산

- 파이썬에서 함수도 객체로 취급. 이는 함수를 변수에 할당하거나, 다른 함수의 인자로 전달하거나, 리스트나 딕셔너리 같은 데이터 구조에 저장할 수 있음을 의미

In [ ]:
def greet():
  print("Hello, world!")
print(greet.__name__)

- 파이썬에서 클래스와 모듈 또한 객체. 클래스는 type의 인스턴스로, 메소드와 속성을 포함할 수 있다. 모듈도 객체로 취급되어, 모듈 내의 함수나 변수 등을 속성으로 가질 수 있다.

In [ ]:
import math
print(type(math)) # <class 'module'> 크기 따질 수 없음
print(math.sqrt(4)) # 모듈의 메소드 사용

type 함수가 반환하는 결과가 클래스 이름(예: <class 'list'>)으로 나오는 것은, 해당 객체가 해당 클래스의 인스턴스라는 것을 의미

In [ ]:
x = 1
print(type(x)) # <class 'int'>
y = "hello"
print(type(y)) # <class 'str'>
def func():
    pass
print(type(func)) # <class 'function'>

In [ ]:
list_example = [1, 2, 3]
print(type(list_example)) # <class 'list'>
tuple_example = (1, 2, 3)
print(type(tuple_example)) # <class 'tuple'>
dict_example = {'key': 'value'}
print(type(dict_example)) # <class 'dict'>

In [ ]:
# 사용자가 직접 작성한 클래스에서 객체를 만들 경우 <class '__main__.Car(클래스 이름)'>
# __main__은 현재 스크립트가 메인 프로그램으로 실행되고 있으며, Car 클래스가 이 메인 스크립트 안에 정의됨을 의미
class Car:
  def __init__(self, model):
    self.model = model

my_car = Car('Toyota')
print(type(my_car))

In [ ]:
print(dir(list)) # 사용자 함수는 안됨 파이썬 안에 있는 함수들만

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [ ]:
print(dir(int))

['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'as_integer_ratio', 'bit_count', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

#### 조건문 (Conditional Statements):
- if: 특정 조건이 참(True)일 때 코드 블록을 실행
    - 조건은 비교 연산자(==, !=, <, >, <=, >=)와 논리 연산자(and-둘 다 만족, or-하나만 만족, not-반대)를 사용하여 표현할 수 있다
   - 여러개 사용 불가능하며 첫번째로만 사용 가능
- elif(필수x): 이전의 if 또는 elif 조건이 거짓(False)일 때 다른 조건을 검사
    - elif는 'else if'의 축약형으로, 이전 if 또는 elif 문의 조건이 거짓(False)일 때 다른 조건을 검사
    - 여러 elif 문을 사용하여 다양한 조건을 검사할 수 있다 if 1 elif 2
- else:
    - 이전의 if 또는 elif 문의 조건이 모두 거짓일 때 실행할 코드 블록을 지정
    - 여러개 사용 불가능하며 마지막에서만 사용 가능

In [ ]:
x = 10
if x > 5:
  print("x는 5보다 큽니다.")
elif x == 5:
  print("x는 5입니다.")
else:
  print("x는 5보다 작습니다.")

In [ ]:
x = 3
if x >= 5:
  print("x는 5보다 크거나 같습니다.")
else:
  print("x는 5보다 작습니다.")

In [ ]:
# 각 조건이 서로 독립적일땐 if문을 연속해서 사용
x = 10
y = 5

if x > 5:
  print("x는 5보다 큽니다.")
if y < 10:
  print("y는 10보다 작습니다.")
if x > y:
  print("x는 y보다 큽니다.")

In [ ]:
x = 0xAE
y = 0o15
if x > 5:
  if y >=3:
    print("x는 5보다 크고 y는 3보다 크거나 같습니다.")
  else:
  print("x는 5보다 작거나 같고 ysms 3보다 작습니다.")
 else:
  print("x는 5보다 작거나 같습니다.")

Q. 이중 조건문을 사용하여 코드를 작성하세요(내용은 자유, 단 if문 if, ~elif, ~else 복수로 사용)

In [ ]:
score = int(input("점수를 입력하세요 : "))
if score < 70:
  print("채점을 진행하지 않습니다.")
else:
  if score >= 90:
    if score := 100:
      print("S")
  elif score > 95:
    print("A+")
  elif score >= 80:
    if score >= 85:
      print("B+")
  else:
    print("P")

In [ ]:
a1 = 0o637
a2 = 0x474
a3 = 0xAB3
if a1 < a2:
  print(a1*0o65)
  if a2 > a3:
    print(a3)
  elif a2 := a3:
    print(a2)
  else:
    print(a1+a2)
elif a1 > a3:
  print(a2)
  if a2 < a3:
    print(0x10)
  else:
    print(a1*a2*a3)
else:
  print(a1/a2/a3)

Q. listdata = ['a', 'b', 'c']에서 조건문을 이용래서 아래와 같이 출력하세요

- a가 listdata에 있습니다.
- b가 listdata에 있습니다.
- c가 listdata에 있습니다.

In [ ]:
listdata = ['a', 'b', 'c']
if 'a' in listdata:
  print('a가 listdata에 있습니다.')
if 'b' in listdata:
  print('b가 listdata에 있습니다.')
if 'c' in listdata:
  print('c가 listdata에 있습니다.')

In [ ]:
listdata = ['a', 'b', 'c']

for i in listdata:
  if i in listdata:
    print(f'{i}가 listdata에 있습니다.')

Q. "주머니에 돈이 10000원 이상 있으면 택시를 타고, 돈이 모자르거나 없으면 걸어간다."를 만족하는 조건문을 작성하세요.

In [ ]:
m = int(input("주머니에 있는 돈 : "))
if m >= 10000: # 만원 이상
  print("택시를 탄다")
else: # 만원 미만
  print("걸어간다.")

Q. 조건부 표현식을 한 줄의 조건문으로 작성하세요

In [ ]:
score = 0x217
if score >=60:
  message = "success"
else:
  message = 'failure'
print(message)

In [ ]:
score = 0o415
['succsess' if score>=60 else"failure"]

Q. "수입(income)과 지출(spend) 금액을 비교해서 수입이 많으면 저축 증가, 반대이며 빚이 증가" 프로그램 작성

In [ ]:
income = int(input('수입 : '))
spend = int(input('지출 : '))
if income > spend:
  print('저축 증가')
elif income < spend:
  print('빚 증가')
else:
  print('현상 유지')

In [ ]:
print(1,2,3,sep='.')

#### 반복문/loop statement
- for: 시퀀스(리스트, 튜플, 문자열 등)의 아이템을 순회하면서 코드 블록을 실행
- while: 특정 조건이 참인 동안 코드 블록을 반복하여 실행 (참이면 무한반복, 브레이크 같은거 없음 못 끊음)

In [ ]:
# for 루프는 시퀸스(리스트, 튜플, 문자열 등)나 반복 가능한 객체(litreable)의 요소를 순회
for i in range(5):
  print(i, end = ' ') # end = ' ' 가로인걸 세로로 안에 뭐 넣으면 그걸 기준으로 함 e,g > end = ','
print('\n')
count = 0
while count < 5:
  print(count, end = ' ')
  count += 1 # 위로 올리면 1부터 시작

In [ ]:
# 리스트를 순회하는 예
for i in [1, 2, 3, 4, 5]:
  print(i, end = ' ')
# 문자열을 순회하는 예
for char in "hello":
  print(char, end = ' ')

In [ ]:
# while 루프는 주어진 조건이 참(True)인 동안 코드 블록을 반복
# 조건이 거짓(False)이 되면 루프가 종료
count = 0
sum = 0
while count < 5:
  sum += count
  print(sum, end = ' ')
  count += 1

In [ ]:
# d에서 반복문을 사용하여 97 98 99 을 출력하세요
d = {'a' : 97, 'b' : 98, 'c' : 99}
for key in d:
  print(d[key], end = ' ') # d[key] ; int
  print(type(d[key]))

97 <class 'int'>
98 <class 'int'>
99 <class 'int'>

In [ ]:
print(d.keys())
print(type(d.keys()))
print(d.values())
print(type(d.values()))

dict_keys(['a', 'b', 'c'])
<class 'dict_keys'>
dict_values([97, 98, 99])
<class 'dict_values'>

dict_values 클래스의 이해:
- 클래스 정의: 파이썬에서 클래스는 객체를 생성하는 데 사용되는 템플릿. dict_values는 딕셔너리의 값을 보여주는 뷰 객체를 생성하는 특별한 내장 클래스.
- 뷰 객체: dict_values 객체는 딕셔너리의 값에 대한 동적인 뷰를 제공. "뷰(view)"란 원본 딕셔너리 객체의 값이 변하면 그 변화가 dict_values 객체에도 반영되는, 원본 데이터의 실시간 반영본을 의미. 이는 딕셔너리의 값들이 수정, 추가, 삭제될 때 dict_values 객체가 자동으로 업데이트된다는 의미.
- 객체 인스턴스: dict_values 객체는 dict_values 클래스의 인스턴스. 이 클래스는 파이썬의 다른 모든 클래스처럼 특정 데이터 구조와 메서드를 가진다. 예를 들어, dict_values 객체는 순회 가능하며 (iterable), 딕셔너리의 모든 값을 순차적으로 접근할 수 있는 메서드를 제공. 딕셔너리 타입에서만 사용

#### 제어문 관련 키워드:
- break: 현재의 반복문을 중단하고, 반복문 바깥의 코드를 실행 (끝냄)
- continue: 반복문의 나머지 부분을 건너뛰고, 다음 반복을 시작 (그거만 건너뜀)

In [ ]:
for i in range(5):
  if i ==3:
    break
  print(i, end = ' ')
print('\n')
for i in range(5):
  if i ==3:
    continue
  print(i, end = ' ')

0 1 2

0 1 2 4

In [ ]:
for i in range(10):
  if i == 5:
    break # i가 5일때 루프 종료
  print(i, end = '')
print('\n')
for i in range(10):
  if i % 2 == 0:
    continue # i가 짝수일 때 나머지 부분을 건너 뛰고 다음 반복을 시작합니다. 9까지인 이유 : for문 종료
  print(i, end = '')

01234

13579

In [ ]:
# for 또는 while(조건 넣기 가능) 루프에 else절을 사용하면, 루프가 정상적으로 완료된 후에 실행할 코드를 지정 for else(for문 밖 print 비슷함)
for i in range(5):
  print(i, end = '') # end = '' < 공백, 띄어쓰기 없음 end = ' ' < 공백, 띄어쓰기 있음
# else:
#  print("루프가 완료되었습니다.", '\n')
print("루프가 완료되었습니다.")
count = 0
while count < 5:
  print(count, end =' ')
  count += 1
else:
  print("루프가 완료되었습니다.")

01234루프가 완료되었습니다.
0 1 2 3 4 루프가 완료되었습니다.

In [ ]:
# break문을 사용하여 루프를 중단하면 else절은 실행되지 않음 for문 밖이면 실행됨
for i in range(5):
  if i == 3:
    print(f'{i}에서 루프를 중단합니다')
    break
#  else:
#    print("루프가 정상적으로 완료되었습니다.")
print("루프가 정상적으로 완료되었습니다.")

3에서 루프를 중단합니다
루프가 정상적으로 완료되었습니다.

#### 조건과 반복을 결합

In [ ]:
# 10 미만의 홀수만 출력
for i in range(10):
# if i % 2 ==1:
  if i % 2 !=0:
    print(i, end = ' ')

1 3 5 7 9

Q. 1~10 범위의 정수에서 1부터 5까지만 출력하세요

In [ ]:
for i in range(1,11):
  if i > 5:
    break
  else:
    print(i, end = ' ')

1 2 3 4 5

Q. numbers 리스트에서 15,20,25를 출력하세요(for문과 if 조건 사용 필수)

In [ ]:
numbers = [5, 15, 6, 20, 7, 25]

for i in numbers:
 if i == 5:
  continue
 elif i % 5 != 0:
  continue
 else:
    print(i, end = ' ')

15 20 25

In [ ]:
numbers = [5, 15, 6, 20, 7, 25]
for i in numbers:
  if i > 5 and i % 5 == 0:
 # if i >= 15:
    print(i, end = ' ')

15 20 25

In [ ]:
# 특정 조건을 만족할 때까지 반복
count = 0
while 1: # 무한 루프
  count +=1
  if count > 5:
    break # count가 5보다 클 때 루프를 종료
  print(count)
print('루프 종료')

1
2
3
4
5
루프 종료

Q. 리스트에서 특정 값 찾기

In [ ]:
numbers = [1, 2, 3, 4, 5]
target = 6

for num in numbers:
 if num == target:
    print(f'{target}을 찾았습니다.')
    break
else:
  print(f"{target}을 못찾았습니다.")

6을 못찾았습니다.

Q. 1~20 사이의 정수에서 10보다 작은 홀수만 출력

In [ ]:
for i in range(20):
  if i < 10 and i % 2 != 0:
    print(i)

1
3
5
7
9

In [ ]:
number = int(input("정수를 입력하세요 :"))
if number % 2 == 1: # if number % 2 != 0
  print(f'입력한 {number}는 홀수입니다.')
else:
  print(f'입력한 {number}는 짝수입니다.')

정수를 입력하세요 :1111
입력한 1111는 홀수입니다.

In [ ]:
for i in range(1,21):
  if i < 10:
    if i % 2 != 0:
      print(i, end = '')
  else:
    break

13579

In [ ]:
# while ~ continue ~ break
a = 0
while a < 20:
  a += 1
  if a % 2 == 0:
    continue
  if a >= 10:
    break
  print(a, end = ' ')

1 3 5 7 9

Q. 정수 1부터 n까지 더할 때 그 합이 1000보다 커지게 되는 n과 합을 구하세요 (while ~ break)

In [ ]:
# 변수 세팅 신경쓰기
n = 1
sum = 0
while 1:
  # n = n + 1
  sum = sum + n # sum += n
  if sum > 1000:
    print(n)
    print(sum)
    break # 조건 만족시 사용
  n = n + 1

45
1035

In [ ]:
v = 0
sum = 0
while sum < 1000:
  v = v + 1 # v += 1
  sum += v
print(v)
print(sum)

45
1035

In [ ]:
sum = 0
for i in range(1,45):
  sum += i
print(sum)

990

Q. while문을 사용해 1부터 1000까지의 정수 중 3의 배수의 합을 구해보세요

In [ ]:
count = 1
multiple_sum = 0
while count <= 1000:
  if count % 3 == 0:
    multiple_sum += count
  count += 1
print(multiple_sum)

166833

In [ ]:
n = 0
sum = 0
while n < 1000:
  n += 1
  if n % 3 == 0:
    sum += n
print(sum)

In [ ]:
n = 3
sum = 0
while n <= 1000:
  sum += n
  n += 3
print(sum)

166833

Q. 정수를 입력하면 홀수 짝수를 판별하는 프로그램 작설

In [ ]:
i = 1
int(input("숫자를 입력하세요 :"))
while 1:
  if i % 2 != 0:
    print('홀수')
    break
  if i % 2 == 0:
    print('짝수')
    break

숫자를 입력하세요 :1
홀수

In [ ]:
'while True:
  try:
    number = int(input("정수를 입력하세요 :"))
    if number % 2 == 1:
      print(f'입력한 {number}는 홀수입니다.')
    else:
      print(f'입력한 {number}는 짝수입니다.')
    break # 정수 입력 시 while 루프를 빠져나감
  except ValueError:
    print("정수가 아니에요. 정수를 입력하세요.")

정수를 입력하세요 :1
입력한 1는 홀수입니다.

Q. 입력받은 문자열의 각 문자를 그 다음 문자로 변경하여 출력하세요 (ABC -> BCA)

In [ ]:
data = input("문자 : ")
for i in range(len(data)):
  if i == 0:
    continue
  print(data[i], end = '')
else:
  print(data[0])

문자 : aspoj
spoja

zip() 함수
- 여러 개의 이터러블(리스트, 튜플 등)을 인자로 받아, 동일한 인덱스에 있는 요소들을 하나의 튜플로 묶어서 이터레이터를 반환
- 데이터를 병렬로 처리할 때 유용

In [ ]:
list1 = [1, 2, 3, 4]
list2 = ['a', 'b', 'c', 'd']
zipped = zip(list1, list2)
print(list(zipped))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

Q. 두 개의 리스트(이름과 성)을 사용하여 각 사람의 전체 이름을 생성하세요

In [ ]:
first_names = ["John", "Jane", "Corey", "Travis"]
last_names =["Doe", "Smith", "Turner", "Williams"]
full_names = [first + " " + last for first, last in zip(first_names, last_names)]
print(full_names)

['John Doe', 'Jane Smith', 'Corey Turner', 'Travis Williams']

Q. 학생들의 수학과 영어 점수를 각각의 리스트로 받아 평균 점수를 계산하세요

In [ ]:
math_scores = [88, 92, 79, 93, 85]
english_scores = [90, 91, 85, 88, 86]
average_scores = [(math + english) / 2 for math, english in zip(math_scores, english_scores)]
print(average_scores)

[89.0, 91.5, 82.0, 90.5, 85.5]

Q. 상품 이름과 가격이 각각 다른 리스트에 저장되어 있을 때, 상품명과 가격을 튜플로 묶오 출력하세요

In [ ]:
products = ["apple", "banana", "cherry"]
prices = [1.2, 0.5, 2.5]
for product, price in zip(products, prices):
  print(f'Product : {product}, Price \ {price}')

Product : apple, Price \ 1.2
Product : banana, Price \ 0.5
Product : cherry, Price \ 2.5

#### 파이썬의 random 모듈
난수를 생성하기 위한 다양한 함수를 제공
- 기본 난수 생성:
  - random.random(): 0과 1 사이의 무작위 부동소수점 숫자를 반환.
- 범위 지정 난수 생성:
  - random.randint(a, b): a와 b 사이의 무작위 정수를 반환(b 포함).
  - random.randrange(start, stop[, step]): 지정된 범위에서 무작위 정수를 반환. step을 설정하여 수의 간격(poppulation)을 조정할 수 있다.
- 시퀀스용 함수:
  - random.choice(sequence): 주어진 시퀀스(리스트, 튜플 등)에서 무작위로 아이템을 선택하여 반환.
  - random.shuffle(x[, random]): 리스트의 항목들을 무작위로 섞는다. random은 섞기를 위한 함수를 커스텀할 때 사용.
  - random.sample(population, k): 주어진 시퀀스에서 무작위로 k개의 항목을 뽑아 새 리스트로 반환.
- 분포 기반 난수 생성:
  - random.uniform(a, b): a와 b 사이의 무작위 부동소수점 숫자를 균등 분포로 반환.
  - random.gauss(mu, sigma): 평균 mu와 표준편차 sigma를 가지는 정규 분포에서 난수를 반환
  
- numpy

평균정규분표포 평균 0 표준편차 1 통계 수학

In [ ]:
import random

# 0과 1 사이에 난수 생성
print(random.random())
# 1에서 10 사이의 정수 반환(10 포함)
print(random.randint(1,10))
# 리스트에서 무작위로 하나의 원소 선택
items = [1, 2, 3, 4, 5]
print(random.choice(items))
# 리스트의 원소를 무작위로 섞기
random.shuffle(items)
print(items)
# 정규분포 난수 생성
mean = 0
std_dev = 1
print(random.gauss(mean, std_dev))

0.49127089772855903
1
3
[4, 3, 2, 5, 1]
-0.8844537976196516

In [ ]:
from random import shuffle # 특정부분만 적용됨
male = ['철수', '갑돌', '로미오', '이몽룡', '온돌']
shuffle(male)
male

['철수', '이몽룡', '갑돌', '온돌', '로미오']

In [ ]:
import random
male = ['철수', '갑돌', '로미오', '이몽룡', '온돌']
random.shuffle(male)
male

['갑돌', '로미오', '이몽룡', '온돌', '철수']

Task1_0430. 남녀 파트너 정해주기 프로그램(zip)

같은 수의 남녀 모임에서 파트너를 랜덤하게 정해주는 프로그램을 만들어 보세요

male = ['철수','갑돌','로미오','이몽룡','온돌']
female = ['미미','갑순','줄리엣','성춘향','평강']

In [ ]:
from random import shuffle
male = ['철수','갑돌','로미오','이몽룡','온돌']
female = ['미미','갑순','줄리엣','성춘향','평강']
shuffle(male)
shuffle(female)
for male,female in zip(male, female):
  print(f'M : {male}, F : {female}')

M : 철수, F : 성춘향
M : 로미오, F : 갑순
M : 이몽룡, F : 평강
M : 갑돌, F : 미미
M : 온돌, F : 줄리엣

Task2_0430. 대문자, 소문자, 숫자를 포함하는 8자리 랜덤 비밀번호를 생성하는 프로그램을 작성하세요.

In [ ]:
import random
from string import ascii_lowercase
from string import ascii_uppercase
aList = list(ascii_lowercase)
bList = list(ascii_uppercase)
a = []
for i in range(10):
    a.append(0)
random.shuffle(aList)
random.shuffle(bList)
random.shuffle(a)

Task3_0430. 발표자 수를 랜덤하게 출력하는 프로그램을 작성하세요.(발표자 수 입력)

kita = ['김성현','황강민','윤호준','류윤선','이상협','박지환','최환욱','서보선','김한결','김도현','김하준',
        '김도원','신현진','소지승','이범석','이현석','이명신','박윤경','이도헌','김홍준']

In [ ]:
import random
kita = ['김성현','황강민','윤호준','류윤선','이상협','박지환','최환욱','서보선','김한결','김도현','김하준',
        '김도원','신현진','소지승','이범석','이현석','이명신','박윤경','이도헌','김홍준']
random.shuffle(kita)

Task4_0430. 사용자로부터 숫자를 입력받아 해당 숫자의 구구단을 출력하는 프로그램을 작성하세요.

In [ ]:
of = int(input("Num : "))
st = int(input("Num : "))
print(of*st)

Num : 235
Num : 465
109275

Task5_0430. 사용자로부터 숫자를 입력받아 해당 숫자의 팩토리얼을 계산하세요.

5! = 5 x 4 x 3 x 2 x 1 = 120

In [ ]:
int(input("Num : "))

Num : 1

1

Task6_0430. 0부터 20까지의 숫자 중에서 짝수와 홀수를 분리하여 두 개의 리스트에 저장하세요.

In [ ]:
list1 = []
list2 = []
for i in range(20):
  if i % 2 == 1:
    list1.append(i)
    i += 2
  elif i % 2 == 0:
    list2.append(i)
    i += 2
print(list1)
print(list2)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

Task7_0430. 주어진 리스트에서 최대값을 찾아 출력하세요.

numbers = [34, 78, 2, 45, 99, 23]

In [ ]:
numbers = [34, 78, 2, 45, 99, 23]

largest = numbers[0]
for i in numbers:
  if i > largest:
    largest = i

print(largest)

99

Task8_0430.  1부터 10 사이의 임의의 숫자를 맞추는 게임을 만드세요. 사용자가 숫자를 맞출 때까지 입력을 계속 받으며, 정답을 맞추면 게임을 종료하세요. 단, 입력 숫자가 정답보다 큰지 작은지 힌트를 주는 방식으로 코드 작성

In [ ]:
while Ture:
  try:
    if i in range(10):

Task9_0430. 태어난 연도를 입력받아 띠를 출력하는 프로그램을 작성하세요.

In [ ]:
int(input("Num : "))

Task10_0430. 아래 사항을 반영하여 커피 자판기 프로그램을 작성하세요.
- 시나리오 : 자판기 커피 재고 5잔, 커피 1잔 가격 300원, 재고 범위내에서 300원 이상 돈을 넣으면 거스름돈과 커피를 주고 그렇지 않으면 반환하며 재고가 소진되면 안내멘트 출력
- 각 Case별 멘트 출력은 상황에 맞게 창작
- while, if ~ elif ~ else 제어문을 사용하여 작성